services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - ./types:/app/node_modules/@bookwebapp/types

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=backend:3000
    ports:
      - "5173:80"
    depends_on:
      - backend
