@import "tailwindcss";
@tailwind utilities;

body {
    @apply bg-neutral-800 text-gray-300 text-left;
}

.Content {
    @apply w-full px-4 py-4 mx-auto flex flex-col items-center bg-neutral-700 text-white;
}

.Navigation {
    @apply flex bg-neutral-800 text-gray-300 shadow-xl sticky top-0 z-100;
}

.Navigation a {
    @apply no-underline cursor-pointer;
}

.Navigation .Navigation-Button {
    @apply p-4 cursor-pointer;
}

.Navigation .Navigation-Button:hover {
    @apply bg-neutral-700 text-white;
}

.Footer {
    @apply text-center text-gray-300 p-5;
}

a {
    @apply underline;
}

a:hover {
    @apply text-blue-400;
}

h1 {
    @apply text-4xl mb-2;
}

h2 {
    @apply text-2xl mb-2;
}

h3 {
    @apply text-xl mb-2;
}

div .Books {
    @apply grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4 lg:gap-8 items-center w-full lg:w-auto;
}

div .Books .Book {
    @apply bg-neutral-600 border border-gray-500 p-3 gap-4 rounded-xl shadow-xl flex items-start cursor-pointer lg:w-100 transition;
}

div .Books .Book:hover {
    @apply scale-[1.05] shadow-2xl z-10;
}

div .Book h2 {
    @apply text-xl font-bold mb-2;
}

div .Book p {
    @apply text-gray-300;
}

div .Book .BookCover {
    @apply w-24 h-32 object-cover shrink-0 rounded-xl;
}

div .Book .BookDetails {
    @apply flex flex-col;
}

div .Book .BookDetails h2 {
    @apply text-base lg:mb-2;
}

div .Book .BookDetails p {
    @apply text-xs;
}

div .reference {
    @apply p-4 bg-neutral-600 rounded shadow mb-4 cursor-pointer lg:transition w-full lg:w-150;
}

div .reference:hover {
    @apply lg:scale-[1.05];
}

div .reference .title {
    @apply text-gray-300 mb-6;
}

div .reference .subtitle {
    @apply text-gray-300 text-sm;
}

input {
    @apply p-2 bg-neutral-600 shadow-xl rounded-xl w-full lg:w-100 text-gray-300 text-lg pl-4;
}

div .RecommendedBadge {
    @apply bg-green-500 text-white px-2 py-1 rounded-full text-sm;
}
