@import "tailwindcss";
@tailwind utilities;

body {
    @apply bg-gray-950 text-gray-300;
}

.Content {
    @apply w-full px-4 py-4 mx-auto flex flex-col items-center bg-gray-800 text-white;
}

.Navigation {
    @apply flex bg-gray-950 text-gray-300;
}

.Navigation a {
    @apply no-underline cursor-pointer;
}

.Navigation .Navigation-Button {
    @apply p-4 cursor-pointer;
}

.Navigation .Navigation-Button:hover {
    @apply bg-black text-white;
}

a {
    @apply underline;
}

a:hover {
    @apply text-blue-400;
}

h1 {
    @apply text-4xl mb-2;
}

h2 {
    @apply text-2xl mb-2;
}

h3 {
    @apply text-xl mb-2;
}

div .Books {
    @apply grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 items-center;
}

div .Books .Book {
    @apply bg-gray-700 p-3 gap-4 rounded-xl shadow flex items-start cursor-pointer lg:w-100;
}

div .Books .Book:hover {
    @apply scale-105;
}

div .Book h2 {
    @apply text-xl font-bold mb-2;
}

div .Book p {
    @apply text-gray-200;
}

div .Book .BookCover {
    @apply w-24 h-32 object-cover shrink-0 rounded-xl;
}

div .Book .BookDetails {
    @apply flex flex-col;
}

div .Book .BookDetails h2 {
    @apply text-base lg:mb-2;
}

div .Book .BookDetails p {
    @apply text-xs;
}

div .reference {
    @apply p-4 bg-gray-700 rounded shadow mb-4 cursor-pointer;
}

div .reference:hover {
    @apply scale-105;
}

div .reference .title {
    @apply text-gray-300 text-center;
}

div .reference .subtitle {
    @apply text-gray-300 text-center text-sm;
}

input {
    @apply p-2 bg-gray-700 rounded-xl w-full lg:w-100 text-center text-gray-300;
}
